<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="/customer" class="active">Customer</a></li>
    <li class="active">Data</li>
</ol>

<div class="col-md-6">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Customer Search</div>
        <div class="panel-body">
            <p></p>
            <h2>Search</h2>
            <input [(ngModel)]="searchText" placeholder="">
        </div>

        <!-- Table -->
        <table class="table table-hover">
            <tr *ngFor="let customer of searchList | filter:searchText; let i = index" (click)="transfer(customer)">
                <th></th>
                <td>
                    {{customer.firstName}} {{customer.lastName}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Customer Details</div>
        <!-- Default panel contents -->
        <div class="panel-body">
            <p></p>
            <div class="input-group">
                <span class="label label-default">First Name</span>
                <input [(ngModel)]="firstName" type="text" value="" placeholder="">
            </div>
            <div class="input-group">
                <span class="label label-default">Last Name</span>
                <input [(ngModel)]="lastName" type="text" value="" placeholder="">
            </div>
            <div class="input-group">
                <span class="label label-default">Points</span>
                <input [(ngModel)]="points" type="text" value="" placeholder="">
            </div>
            <div class="input-group">
                <span class="label label-default">Birth Date</span>
                <input [(ngModel)]="birthDate" type="date" value="" placeholder="">
            </div>
            <div class="input-group">
                <span class="label label-default">email</span>
                <input [(ngModel)]="email" type="text" value="" placeholder="">
            </div>
            <div class="input-group">
                <span class="label label-default">PhoneNumber</span>
                <input [(ngModel)]="phoneNumber" type="text" value="" placeholder="">
            </div>
            <input [(ngModel)]="id" type="hidden" value="" placeholder="">
            <div class="input-group">
                <button type="button" class="btn btn-primary" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>
